.movie-description {
    height: 100px;
    overflow: hidden;
}

.genre-label {
    color: #693455;
    font-weight: bold;
}

.movie-title {
    color: #693455;
}

.userLinks {
    color: #693455;
    font-weight: bold;
}

.contactLabel {
    color: #693455;
    font-weight: bold;
}

.adds {
    width: inherit;
}